<div class="section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="h4 text-center mb-4 title">Portfolio</div>
       
      </div>
    </div>
    <div class="tab-content gallery mt-5">
      <div class="tab-pane active" id="web-development">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect"><img src="assets/images/project-1.png" alt="Image"/>
                    <figcaption>
                      <div class="h4">Intern Connect</div>
                      <p>Mobile App Development</p>
                      <p>Application to connect companies with students.</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect"><img src="assets/images/project-2.png" alt="Image"/>
                    <figcaption>
                      <div class="h4">Personal Portfolio</div>
                      <p>Web Development Project</p>
                      <p>Portfolio Site to showcase yourself.</p>
                    </figcaption>
                  </figure></a></div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect"><img src="assets/images/project-3.png" alt="Image"/>
                    <figcaption>
                      <div class="h4">House Hunt Project</div>
                      <p>Mobile App Development</p>
                      <p>Application to help in locating houses.</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect"><img src="assets/images/project-4.png" alt="Image"/>
                    <figcaption>
                      <div class="h4">Clinical Management Project</div>
                      <p>Java App Development</p>
                      <p>An Application to help manage small health centers.</p>
                    </figcaption>
                  </figure></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>