<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/bg.jpg');"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image">
            <a href="#">
              <img src="assets/images/dp.jpeg" alt="Image" />
            </a>
          </div>
          <div class="h4 title" style="font-family: 'Trebuchet MS';">Obare Geoffrey</div>          
					<h3 class="white-text main-title " style="font-family: 'Trebuchet MS';"> <span class="typed"></span></h3>
          <!--<p class="category text-white">Software Engineer</p>-->
          <a class="leftie btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor"
          style="border-radius: 20px 0px 0px 20px; background-color: #00334D; font-family: 'Trebuchet MS';">Hire Me</a>
          <a class="rightie btn btn-primary" href="https://drive.google.com/file/d/1FJmsE0aInEqyyx0Le_haWlrK1Oge4nzE/view?usp=sharing" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor"
          style="border-radius: 0px 20px 20px 0px; background-color: #00334D; font-family: 'Trebuchet MS';"
          >Download CV</a>
        </div>
      </div> 
      <!--<div class="section">
        <div class="container">
          <div class="button-container">
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/Obare13" target="_blank" rel="tooltip" title="Follow me on Facebook">
              <i class="fa fa-facebook"></i>
            </a>  
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/obare13" target="_blank" rel="tooltip" title="Follow me on Linkedin">
              <i class="fa fa-linkedin"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/CodeDruid13" target="_blank" rel="tooltip" title="Follow me on Github">
              <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/Obare13" target="_blank" rel="tooltip" title="Follow me on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip" title="Follow me on Google+">
              <i class="fa fa-google-plus"></i>
            </a>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>